body {
  padding-bottom: 30px;
  position: relative;
  min-height: 100%;
  font-family: "proxima-nova", "Calibri", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

a {
  transition: background 0.2s, color 0.2s;
}
a:hover,
a:focus {
  text-decoration: none;
}

#wrapper {
  padding-left: 0;
  transition: all 0.5s ease;
  position: relative;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #e7e7e7;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 60px;
}

.sidebar-brand {
  position: absolute;
  top: 0;
  width: 250px;
  text-align: center;
  padding: 20px 0;
}
.sidebar-brand h2 {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  color: #fff;
}

.sidebar-nav {
  position: absolute;
  top: 75px;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-nav > li {
  text-indent: 10px;
  line-height: 42px;
}
.sidebar-nav > li a {
  display: block;
  text-decoration: none;
  color: #757575;
  font-weight: 600;
  font-size: 18px;
}
.sidebar-nav > li > a:hover,
.sidebar-nav > li.active > a {
  text-decoration: none;
  color: #fff;
  background: #F8BE12;
}
.sidebar-nav > li > a i.fa {
  font-size: 24px;
  width: 60px;
}

#navbar-wrapper {
    width: 100%;
    position: absolute;
    z-index: 2;
}
#wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -250px;
}
#navbar-wrapper .navbar {
  border-width: 0 0 0 0;
  background: linear-gradient(to right, #00aed9 0%, #34657f 100%);
  font-size: 24px;
  margin-bottom: 0;
  border-radius: 0;
}
#navbar-wrapper .navbar a {
  color: #757575;
}
#navbar-wrapper .navbar a:hover {
  color: #F8BE12;
}

#content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
  top: 35px;
}
#wrapper.toggled #content-wrapper {
  position: absolute;
  margin-right: -250px;
}

#source-label
{
  color: #a4a6a8;
  font-size:  1.5em;
}

#Chart-headers
{
  font-size: 2em;
  color: black;
  font-weight: lighter;
}

#Chart-subheaders
{
  font-size:  1.5em;
  color: #787878;
  font-weight: lighter;
}

#Main-header
{
  font-family: "proxima-nova", "Calibri", sans-serif;
  font-weight: 700;
  font-size: 2.2em;
  line-height: 30px;
  letter-spacing: 0.02rem;
  color: #777;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

#logo-company
{
  right: 20px;
  position: absolute;
  margin: 10px;
  max-width: 148px;
  width: 100%;
}